@model FactoryWebSiteProject.Models.Departments
@using FactoryWebSiteProject.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateDepartmentPage</title>
    <script>
    function LogOut() {
        window.location.href = "https://localhost:44371/Home/LogOut";
    }

</script>
</head>
<body>
    <div>
        <h3>
            @((Session["userData"] as User).FullName) -- Create Department Page && You Have  @Session["NumOfActions"] Action For Today You did @Session["counter"] Alredy.
            <input type="button" onclick="LogOut()" value="Log Out" />
        </h3>
        <form action="/Department/CreateDep" method="post">
            Create ID : @Html.TextBoxFor(x => x.ID)<br />
            Create Department : @Html.TextBoxFor(x => x.DepName)<br />
            Create Maneger ID :@Html.TextBoxFor(x => x.ManegerEmpID)<br />
            <input type="submit" value="Confirm" />
        </form><br /><br /><br />
       <a href="/Department/DepartmentData">To Department Manegment</a>

    </div>
</body>
</html>
